 .u-section-1 {
  min-height: 849px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 51px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 167px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  width: 484px;
  font-size: 1.125rem;
  margin: 49px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  width: 484px;
  font-size: 1.125rem;
  margin: 13px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-1 .u-text-2 {
    width: 407px;
  }

  .u-section-1 .u-text-3 {
    width: 407px;
  }

  .u-section-1 .u-image-1 {
    min-height: 759px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 671px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: 297px;
  }

  .u-section-1 .u-text-3 {
    width: 297px;
  }

  .u-section-1 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 872px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 739px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -24px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-1 {
    min-height: 549px;
  }
} .u-section-2 {
  min-height: 849px;
}

.u-section-2 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 193px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  width: 484px;
  font-size: 1.125rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  width: 484px;
  font-size: 1.125rem;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-2 .u-image-1 {
    min-height: 759px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-2 .u-text-2 {
    width: 407px;
  }

  .u-section-2 .u-text-3 {
    width: 407px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 671px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-2 .u-image-1 {
    min-height: 581px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: 297px;
  }

  .u-section-2 .u-text-3 {
    width: 297px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1062px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-2 .u-image-1 {
    min-height: 872px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 739px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-2 .u-image-1 {
    min-height: 549px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -24px;
    margin-left: 22px;
    margin-right: 22px;
  }
} .u-section-3 {
  min-height: 849px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 193px auto 0;
}

.u-section-3 .u-text-2 {
  width: 484px;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  width: 484px;
  font-size: 1.125rem;
  margin: 31px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-3 .u-text-2 {
    width: 407px;
  }

  .u-section-3 .u-text-3 {
    width: 407px;
  }

  .u-section-3 .u-image-1 {
    min-height: 759px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 671px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    width: 297px;
  }

  .u-section-3 .u-text-3 {
    width: 297px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1062px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 872px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 739px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -24px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-1 {
    min-height: 549px;
  }
} .u-section-4 {
  min-height: 849px;
}

.u-section-4 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 234px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  width: 217px;
  margin: 50px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 21px 104px 0 41px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 48px 0 41px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-4 .u-image-1 {
    min-height: 759px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-4 .u-text-3 {
    width: 407px;
    margin-left: 0;
    margin-right: 45px;
  }

  .u-section-4 .u-text-4 {
    width: 407px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 671px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-4 .u-image-1 {
    min-height: 581px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    width: 297px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: 297px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1062px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-4 .u-image-1 {
    min-height: 872px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 739px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-image-1 {
    min-height: 549px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin: 22px 22px -24px;
  }
} .u-section-5 {
  min-height: 849px;
}

.u-section-5 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 234px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  width: 323px;
  margin: 38px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-5 .u-text-2 {
    width: 217px;
  }

  .u-section-5 .u-image-1 {
    min-height: 759px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 671px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1062px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 872px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 739px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 22px 22px -11px;
  }

  .u-section-5 .u-image-1 {
    min-height: 549px;
  }
} .u-section-6 {
  min-height: 849px;
}

.u-section-6 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 234px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 323px;
  margin: 38px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 117px 0 142px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-6 .u-image-1 {
    min-height: 759px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-6 .u-text-2 {
    width: 217px;
  }

  .u-section-6 .u-text-3 {
    width: 323px;
    margin-left: 92px;
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 671px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-6 .u-image-1 {
    min-height: 581px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-3 {
    width: 297px;
    margin-left: 37px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1062px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-6 .u-image-1 {
    min-height: 872px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 739px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-6 .u-image-1 {
    min-height: 549px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin: 22px 22px -11px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  min-height: 849px;
}

.u-section-7 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 234px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  width: 323px;
  margin: 38px auto 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 11px 138px 0 4px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 19px 138px 0 4px;
}

.u-section-7 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-7 .u-text-2 {
    width: 217px;
  }

  .u-section-7 .u-text-3 {
    width: 323px;
    margin-left: 58px;
    margin-right: 101px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 101px;
    margin-left: 58px;
  }

  .u-section-7 .u-image-1 {
    min-height: 759px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 671px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-3 {
    width: 297px;
    margin-left: 3px;
    margin-right: 46px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 46px;
    margin-left: 3px;
  }

  .u-section-7 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1062px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 872px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 739px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin: 22px 22px -11px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 549px;
  }
} .u-section-8 {
  min-height: 849px;
}

.u-section-8 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-8 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 234px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 36px 43px 0 108px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 19px 151px 0 108px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 19px 151px 0 108px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-8 .u-image-1 {
    min-height: 759px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 144px;
    margin-left: 53px;
    width: 217px;
  }

  .u-section-8 .u-text-3 {
    width: 323px;
    margin-left: 58px;
    margin-right: 101px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 101px;
    margin-left: 58px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 671px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-8 .u-image-1 {
    min-height: 581px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    width: 297px;
    margin-left: 3px;
    margin-right: 46px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 46px;
    margin-left: 3px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1062px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-8 .u-image-1 {
    min-height: 968px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 739px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-8 .u-image-1 {
    min-height: 609px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin: 22px 22px -11px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-9 {
  min-height: 849px;
}

.u-section-9 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 284px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  width: 239px;
  margin: 69px auto 0;
}

.u-section-9 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 144px;
    margin-left: 53px;
    width: 217px;
  }

  .u-section-9 .u-image-1 {
    min-height: 759px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 671px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1062px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-image-1 {
    min-height: 843px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 739px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-9 .u-image-1 {
    min-height: 531px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-10 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 284px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 27px 176px 0 191px;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: -14px 176px 0 191px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-10 .u-image-1 {
    min-height: 759px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 144px;
    margin-left: 53px;
    width: 217px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 125px;
    margin-left: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-10 .u-image-1 {
    min-height: 581px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 68px;
    margin-left: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-10 .u-image-1 {
    min-height: 902px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-10 .u-image-1 {
    min-height: 568px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 992px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 51px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 920px;
  --radius: 50px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 284px auto 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: 27px 149px 0 191px;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  margin: 20px 148px 0 191px;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 20px 149px 0 191px;
}

.u-section-11 .u-image-1 {
  min-height: 920px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 144px;
    margin-left: 53px;
    width: 217px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 100px;
    margin-left: 143px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 100px;
    margin-left: 143px;
  }

  .u-section-11 .u-image-1 {
    min-height: 759px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-right: 47px;
    margin-left: 90px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 47px;
    margin-left: 90px;
  }

  .u-section-11 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-11 .u-image-1 {
    min-height: 843px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-image-1 {
    min-height: 531px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 706px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-12 .u-image-1 {
  min-height: 636px;
  --radius: 50px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 636px;
  --radius: 50px;
}

.u-section-12 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 85px auto 0;
}

.u-section-12 .u-text-2 {
  font-weight: 700;
  margin: 36px 149px 0 191px;
}

.u-section-12 .u-text-3 {
  font-weight: 700;
  margin: 36px 149px 0 190px;
}

.u-section-12 .u-text-4 {
  font-weight: 700;
  margin: 36px 110px 0 191px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-12 .u-image-1 {
    min-height: 524px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 144px;
    margin-left: 53px;
    width: 217px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 100px;
    margin-left: 143px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 100px;
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-12 .u-image-1 {
    min-height: 401px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-12 .u-text-2 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-12 .u-text-3 {
    margin-right: 47px;
    margin-left: 90px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 47px;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-12 .u-image-1 {
    min-height: 622px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-12 .u-image-1 {
    min-height: 392px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 706px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 54px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 636px;
  --radius: 50px;
}

.u-section-13 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 190px 158px 0 auto;
}

.u-section-13 .u-text-2 {
  font-weight: 700;
  margin: 38px 139px 0 auto;
}

.u-section-13 .u-image-1 {
  min-height: 636px;
  --radius: 50px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 111px;
  }

  .u-section-13 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-13 .u-text-1 {
    margin-right: 92px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-13 .u-image-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-1 {
    min-height: 582px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-13 .u-image-1 {
    min-height: 366px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 996px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-14 .u-image-1 {
  min-height: 636px;
  --radius: 50px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 636px;
  --radius: 50px;
}

.u-section-14 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  margin: 265px auto 0;
}

.u-section-14 .u-layout-wrap-2 {
  margin: 96px 0 -362px;
}

.u-section-14 .u-layout-cell-3 {
  min-height: 636px;
  --radius: 50px;
}

.u-section-14 .u-container-layout-3 {
  padding: 0 24px;
}

.u-section-14 .u-text-2 {
  font-weight: 700;
  margin: 265px auto 0;
}

.u-section-14 .u-image-2 {
  min-height: 636px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-14 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-14 .u-image-1 {
    min-height: 524px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-14 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 524px;
  }

  .u-section-14 .u-image-2 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-14 .u-image-1 {
    min-height: 401px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-14 .u-image-2 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-14 .u-image-1 {
    min-height: 622px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-2 {
    min-height: 582px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-14 .u-image-1 {
    min-height: 392px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-14 .u-image-2 {
    min-height: 366px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 471px;
}

.u-section-15 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --top-right-radius: 20px;
  --bottom-left-radius: 20px;
  margin: 395px auto 34px 0;
}